/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* .searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
} */
.display_none{display:none;}
li#menu-item-972032 a span:before{
	    content: "\f0da";
	    font-weight: 900;
	font-family: "Font Awesome 5 Free";
	margin-right: 3px;

}

footer a:hover{
	text-decoration:underline!important;
}
footer a.fl-button:hover{
	text-decoration:none!important;
}

.footer-logo img{
	background: #fff;
    padding: 30px;
}
footer .social-icons a:hover,
footer .social-icons a:hover *{
	color:#b4e0ff!important;
}
.none_h1{
    display: none!important;
}

a{
	outline: none!important;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}

a.phone {
    font-weight: 400;
    color: #c6a337 !important;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.headerMain .fl-col:not(.fl-visible-mobile) {
    flex: 2;
}
#topBar a:hover{
	color:#a89c6f!important;
}
.headerMain .fl-col.headerLogo {
    flex: 1;
    margin-right: 20px;
}

.uabb-creative-menu ul#menu-main-menu li ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-left: 0;
}

.product-grid.swatch .fl-post-grid-post .fl-post-grid-text>a.fl-button {
    font-size: 13px;
    padding: 12px 14px;
}

.product-detail-layout-4 .button-wrapper,
.product-detail-layout-default .button-wrapper,
.product-detail-layout-5 .button-wrapper,
.button-wrapper a {
    text-align: center!important;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    padding: 10px 20px;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px!important;
}

.fl-builder-content .fl-node-5d827d8591da9 .sub-menu>li>a {
    padding-left: 15px;
    padding-right: 15px!important;
}

.ua-icon-Search {
    cursor: pointer;
}

.save-up-to-link.fl-module-rich-text .fl-module-content {
    margin-bottom: 0;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button {
    padding: 14px 10px;
}
/* .slick-track{
	display: flex !important;
	align-items: center;
} */

#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span {}

#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span:before {
    content: '\f0da';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.style-product_list .pro-container>.row{
    flex-direction: row;
}
.style-product_list .pro-container>.row>div{
    flex: 1;
}
.style-product_list .pro-container>.row>div.clearfix{
    flex: 0;
}
.fl-content-full{
    max-width: 100%;
    width: 100%;
}



.storename li .phone a span:before{
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

.phone-icon .storename li .phone a span:before{
	
    margin-right: 30px;
}

.navbar .nav .menu-item-has-children>a:after{
	content: ''!important;
}

header .message{
    padding-left: 15px;
}
header .storename .phone{
    padding-right: 15px;
}

.Header-issue .fl-col-content .fl-rich-text a:hover{
   color: #fff !important;
}

.Header-issue .fl-col-content .fl-rich-text .storename li .phone a span:hover{
    color: #a89c6f !important;
}


.item-link{
    color: #f9f9f8 !important ;
}
.item-link:hover{
    color: #f9f9f8 !important ;
}

.button-wrapper-default a, .button-wrapper-default a.button {
    background-color: #2d4e65 !important;
    border-color: #2d4e65 !important;
    color: #fff !important;
}
.button-wrapper-default a, .button-wrapper-default a.button:hover{
    background-color: #455660 !important;
    border-color: #455660 !important;
    color: #fff !important;
}
.facet_filters .facet-wrap>strong{
	    border-bottom: 2px solid #2d4e65!important;
}
.facet_filters strong{
	color:#2d4e65!important;
}
.product-detail-layout-6 .dual-button a,
.product-detail-layout-6 .button-wrapper>a{
	text-transform:uppercase;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #2d4e65;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #2d4e65;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.facetwp-selections ul li .facetwp-selection-value{
	font-size: 14px;
    color: #000;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
}





#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #234156;
    border-top: 1px solid #fff;
  }
  
  
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #f5f5f5 !important;
    opacity: 0.7;
  }
  
  .moove-gdpr-button-holder>button.mgbutton {
    background-color: #2d4e65 !important;
    color: #fff !important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 300 !important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: 1px solid #fff !important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #234156  !important;
    color: #fff!important;
    text-transform: uppercase!important;
    border: 1px solid #fff !important;
  }
  
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #2d4e65 !important;
    border: 1px solid #fff !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
  #moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #fff !important;
    background-color: #234156  !important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #234156  !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #2d4e65 !important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 300 !important;
    text-transform: uppercase!important;  
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #234156  !important;
    color: #fff !important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #2d4e65 !important;
  }

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #2d4e65!important;
    color: #f9f9f8!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #234156!important;
    color: #f9f9f8!important;
    border: none;
    text-transform: uppercase!important;
}

@media (min-width: 992px){
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a {
    color: #455661 !important;
}
}

@media(max-width:1280px) {
    #djcustom-header #menu-main-menu li.menu-item a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .style-product_list .pro-container .pro-details .button-wrapper {
        display: block;
    }
}

@media(max-width:1199px) {
    .headerMain .fl-col.headerLogo,
    .headerMain .fl-col.headerRightNav {
        flex: auto;
        position: relative;
    }
    .headerMain .fl-col.headerLogo .fl-photo-align-left,
    .headerMain .fl-col.headerRightNav .menu {}
    .fl-node-5d826ff320ba5>.fl-module-content {
        margin: 20px 0px;
    }
    .fl-node-5d826ff320ba5 .menu a {
        padding: 15px 7px!important;
        font-size: 12px;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a {
        padding-right: 24px!important;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle {
        width: 24px!important;
    }
}

@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .coupon-image .fl-module-content {
        margin: 0 20px;
    }
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
    .coretec-sec .fl-module-rich-text .fl-rich-text * {
        font-size: 22px !important;
    }
    div.fl-builder-content .fl-row-content-wrap .coretec-sec .fl-col-content {
        min-height: 350px !important;
    }
    ul#menu-main-menu li {
        padding: 0 15px !important;
    }
    ul#menu-main-menu li .fl-has-submenu-container .fl-menu-toggle:before {
        margin: -5px -35px 0 0 !important;
    }
    div#topBar, div#topBar a.fl-button {
        font-size: 12px !important;
    }
}

@media(max-width:992px) {
	.mobile-topBar a:hover,
	.mobile-topBar a:hover *{
		color:#000 !important;
	}
    .headerMain .fl-col.navMobile .fl-rich-text>p {
        text-align: right;
    }
    .searchIcon {
        position: static;
    }
    .fl-module-photo-gallery .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 50% !important;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height {
        padding: 10px 15px;
        display: flex !important;
        align-items: center;
    }
    .headerMain p {
        margin-bottom: 0;
    }
    button#responsive-menu-button {
        top: 0 !important;
        right: 0 !important;
        text-align: center;
    }
    .navMobile .fl-module>.fl-module-content {
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 1;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 2 !important;
        margin-right: 0 !important;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span {
        font-size: 0;
    }
    /* .style-product_list .pro-container .pro-details .button-wrapper {
        display: flex;
    } */
}

@media(max-width:992px) and (min-width:767px) {
    .flexViewIpad .fl-col-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width:992px) {
	div.uabb-image-carousel .slick-next{
		right: 20px !important;
	}
	.post-349396  .phone-icon .storename li .phone a span:before{
		margin-left: 12px;
	}
	div.uabb-image-carousel .slick-prev{
		left: 20px !important;
	}
        .open_sidebar{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
	header .uabb-photo-content  img{
		height: 170px;
	}
	#responsive-menu-additional-content {
		padding-top: 10px!important;
    }
    .float-none{
        float: none !important;
    }
    .max-width-issue{
        max-width: 450px !important;
        margin: 0 auto !important;
    }
	#responsive-menu-additional-content .storename .phone{
		text-align: left!important;	
	}
	#responsive-menu-additional-content .storename .phone a{
		color: #fff!important;	
	}
	#responsive-menu-additional-content .storename .phone a span:before{
		margin-right: 4px!important;
		
	}
    .style-list button.back-button{
        z-index: 25;
    }
    ul#responsive-menu * {
        text-align: left;
    }
    .style-list button.back-button {
        bottom: 100%;
        left: 0;
        top: 10px;
        font-size: 18px !important;
    }
	.gfield_checkbox label{
		font-size: 13px!important;
	}
	
    #field_19_8,
    #field_19_1,
    #field_22_3,
    #field_22_9,
    #field_22_10,
    #field_22_2,
	#field_19_2,
	#field_19_5,
    #field_19_10,
    #field_23_3,
    #field_23_4,
    #field_23_9,
    #field_23_10{
        padding-right: 0;
    }
    /* .responsive-menu-open .fl-builder-mobile header:before {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: #ffffff63;
            z-index: 99;
        } */
    .iPadFooter .fl-col-group,
    .fl-col-group.fl-col-group-equal-height {
        display: flex !important;
    }
    .homePageCoreTec .fl-col-group {
        justify-content: center;
    }
    /* .uabb-photo .uabb-photo-content  img.uabb-photo-img {
        width: 360px !important;
    } */
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    .headerMain .fl-col.headerLogo {
        margin-right: 0;
    }
    /* .fl-builder-content-primary .fl-row-full-width .fl-row-content-wrap .fl-col-group .fl-col{
        margin: 0px !important;
        float: left !important;
        clear: unset !important;
    } */
    .fl-node-5d827d8591da9 ul.sub-menu a {
        padding-left: 0px!important;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .djcustom-header .fl-row-content-wrap .fl-col-group-custom-width .fl-col {
        width: 50% !important;
    }
    #menu-flooring-menu,
    #menu-inspiration-menu,
    #menu-about-us {
        text-align: left;
    }
    .headerMain .fl-col-group {
        align-items: center;
    }
    .footerLinks .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    .footerCopyright .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .mobileHeaderIcons .fl-col-content.fl-node-content {
        display: flex;
        flex-direction: row;
    }
    .lastColumn .fl-col-content,
    .lastColumn {
        max-width: 100% !important;
        width: 100% !important;
    }
    .lastColumn .fl-col-content {
        display: flex;
        flex-direction: row;
    }
    .homeCategories .fl-col-group.fl-node-5d01389b6c032 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeSlider .fl-col-group.fl-node-5c75183d301f3 {
        display: flex;
        justify-content: center;
    }
    .footerCopyright ul.social-icons li {
        margin: 0 5px;
    }

    .footerLinks .fl-col-group-custom-width div.fl-col-small{
        width: 49% !important;
        max-width: none;
        float: left;
    }

    .four-box-gaurantee .fl-col-group .fl-col-small{
        width: 49% !important;
        max-width: none;
        display: inline-block;
    }
    .fl-col-small:not(.fl-col-small-full-width){
        max-width: 450px;
    }
    /* .mobileHeader .menu-wrap-mobile .is-active{
        position: fixed;
        top: 70px!important;
        right: 16%!important;
        transform: none!important;
    } */
	/* Slider height issue on mobile */
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}
    
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
	.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 0;
}
	.mobileHeaderIcons{
		display: none !important;
	}
	footer h2.fl-heading,
	footer ul li.menu-item,
	footer *{
		text-align: center !important;
	}
	 
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text>p {
        margin-bottom: 0;
    }
    h2 {
        font-size: 18px;
    }
    .footermenu .menu-item p a {
        color: #FBFBFB;
        font-family: Roboto;
        font-size: 12px;
        line-height: 23px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon {
        vertical-align: super;
        padding-top: 6px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon .fas.fa-map-marker-alt:before {
        margin-top: 6px;
    }
    .fl-rich-text>.message a {
        font-size: 16px;
    }
    nav ul#menu-copyright-bar-menu {
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:650px) and (max-width:767px) {
    .coretec-sec .fl-col-group.fl-col-group-equal-height {
        display: block !important;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height {
        flex-direction: column;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height .fl-col-small:first-child .fl-node-content {
        padding: 10px 0;
    }

}

@media(max-width:500px) {
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 93px !important;
    }
    .footerLinks .fl-col-group-custom-width div.fl-col-small{
        width: 100% !important;
        max-width: none;
    }
    .four-box-gaurantee .fl-col-group .fl-col-small{
        width: 100% !important;
        max-width: none;
    }
    .lastColumn .fl-module-interactive-banner-2{
        margin-bottom: 20px !important;
    }
    .fl-module-photo-gallery .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100% !important;
    }
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
    /* Slider height issue on mobile open */
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
    /* Slider height issue on mobile closed */
    
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
    
}
/* PLP Page Css iPad Air */

@media(max-width:480px) {
    #menu-copyright-bar-menu li a{
        padding: 0px 5px!important;
    }
    .footerLinks .fl-col-group,
    .footerCopyright .fl-col-group {
        display: block;
    }
	header .uabb-photo-content img {
		height: 120px;
	}
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 5px !important;
    }
    .headerMain .phone.retailer {
        margin-right: 0;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button {
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev {
        left: 20px;
    }
    .iPadFooter .fl-col-group {
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu {
        justify-content: center;
    }
    /* .footerCopyright .fl-col * {
        margin: 0;
    }
    .footerCopyright .fl-col-group .fl-col {
        height: 30px;
    } */
    .lastColumn .fl-col-content {
        flex-direction: column;
    }
    .homeCategories .fl-col-group {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footerCopyright .fl-col-group {
        flex-direction: column;
    }
}

@media(max-width:430px) {
    .fl-page-bar-text-1 font {
        font-size: 14px;
    }
}

@media(max-width:370px) {
    .fl-page-bar-text-1 font {
        font-size: 11px;
    }
    .fl-page-bar-text-1 i {
        font-size: 16px;
    }
}
@media(max-width:320px) {
	
element.style {
}
.fl-node-5d839ec236ee3 .uabb-photo-content .uabb-photo-img {
    opacity: 1;
}
.fl-node-5d839ec236ee3 .uabb-photo-content .uabb-photo-img {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.fl-node-5d839ec236ee3 .uabb-photo-content img {
}
	@media (max-width: 480px){
	header .uabb-photo-content img {
		height: 90px;
	}
}